[mysqld_safe]
log-error=/data/mysql/mysqld.log
pid-file=/data/mysql/mysqld.pid

#### customization ####

[client]
port            = 3306
socket          = /data/mysql/mysql.sock
# Here follows entries for some specific programs

# The MySQL server
[mysqld]
datadir         = /data/mysql
tmpdir          = /tmp
socket          = /data/mysql/mysql.sock
pid-file        = /data/mysql/mysqld.pid
port            = 3306
#bind-address   = 127.0.0.1
user=mysql

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

skip-locking
skip-external-locking
skip-slave-start
skip-name-resolve
#log-slow-queries

default-storage-engine=InnoDB
default-character-set=utf8
default-collation=utf8_bin

character_set_server=utf8
collation_server=utf8_bin
init-connect='SET NAMES utf8'
default_table_type = INNODB

#--------Fine Tuning---------
max_connection=4000

key_buffer_size = 2M
read_buffer_size=4M
sort_buffer_size=4M
table_cache=4096
max_allowed_packet = 16M

#net_buffer_length = 8K
#sort_buffer_size=16M
#join_buffer_size=16M
thread_cache_size=256
tmp_table_size=256M

#cpu * (2..4)
thread_concurrency=8
#READ-UNCOMMITTED, READ-COMMITTED, REPEATABLE-READ, SERIALIZABLE
transaction_isolation = READ-COMMITTED


#--------Query Cache---------
query_cache_limit = 1M
query_cache_size = 16M
query_cache_size = 128M
query_cache_limit = 2M

#--------log---------
log-slow-queries=/data/mysql/mysqld-slow.log
long_query_time=1
log-long-format


#--------replication---------
log-bin=/data/mysql/mysql-binlog
binlog_cache_size=2M
#binlog_do_db = dbname
#binlog_ignore_db = mysql
#last intranet ip
server-id = 206

#--------myisam--------------
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover

#--------innodb--------------
innodb_data_home_dir        = /data/mysql
innodb_autoextend_increment = 256
innodb_data_file_path       = ibdata1:10M:autoextend
innodb_table_locks          = 0
innodb_lock_wait_timeout    = 10

#(50-80)% * total memory ( 4G )
innodb_buffer_pool_size         = 1G
innodb_additional_mem_pool_size = 64M
innodb_file_io_thread           = 8

#innodb_thread_concurrency     = 16
innodb_log_group_home_dir      = /data/mysql
innodb_log_files_in_group      = 2
innodb_log_arch_dir            = /data/mysql
innodb_flush_log_at_trx_commit = 0
sync_binlog                    = 15
innodb_support_xa              = 0
innodb_file_per_table          = 1

innodb_log_file_size            = 512M #25% *buffer pool size (1G)
innodb_log_buffer_size          = 32M
#innodb_flush_log_at_trx_commit = 0
#innodb_thread_concurrency      = 5

#-----------------------------
[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

default-character-set=utf8
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout